#checkout-message-container {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/*Cell Phone*/
@media (max-width: 425px) {
  #checkout-message-header {
    font-size: 18px;
  }
}

/*iPhone 5*/
@media (max-width: 320px) {
  #checkout-message-header {
    font-size: 15px;
  }
}

/*Cell Phone*/
@media (max-width: 425px) {
  #checkout-message-subheader {
    font-size: 16px;
  }
}

/*iPhone 5*/
@media (max-width: 320px) {
  #checkout-message-subheader {
    font-size: 11px;
  }
}
